/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-primary: oklch(0.68 0.2115 24.81);
  --color-primary-content: oklch(93% 0.034 272.788);
}

html, body {
  height: 100%;
}

/* TODO better way to apply class globally to router component? */
router-outlet + * {
  @apply flex flex-col grow w-full overflow-y-auto;
}
